
h1 {
  text-align: center; 
  color:#800080;
}
#videos{
  text-align: center; 
  color:#4B0082;
}
#divBusca img{
  float:right;
}
  #front-page-logo{
    position: absolute;
    top:50px;"
  }
   article {
    padding-bottom: 30px; 
    width: 900px; 
    margin: 0 0 60px; 
}
  footer {
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    height: 60px; 
    background-color: #e0e0e0;
    font-family: "Times New Roman", Georgia, Serif;
}
i{
  position:absolute;
  z-index:3;
  top:20px;
  right: 0%;

}
.search-results{
  left: 35%;
}
#nav-mobile li.search {
  position: absolute;
  top: 150px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 10px;
}
#menuAreas {
  position: relative;
  margin-top: 5px;
  padding: 1px 0 0 0;
  z-index: 5;
  top: 190px;
}
.container{  
  width:420px;
  height:700px;
  position: absolute;
  left: 35%;
  right: 50%;
  top:100px;
}
#tabs-swipe-demo{
  
  top:70px;
}
#test-swipe-1{
  width:487px;
  height:450px;
  position: relative;
  top:70px;
}
#test-swipe-2{
  width:487px;
  height:450px;
  position: relative;
  top:70px;
}
#video_play_sinal{
  width:465px;
  height:450px;
  top:20px;
  left: 0;
}
#video_play_conceito{
  width:465px;
  height:450px;
  top:20px;
  left: 0;
}
#nomes{
  text-align: center; 
  color: #0d47a1;
  font-family: "Times New Roman";
  font-size: 20px;
  padding: 1px;
}
#corpo{
border: 1px solid  #000080;
padding-left: 25px;
padding-right: 25px;
margin-top: 50px;
border-top: 2px solid #0F8593;
}
#h1_{
 text-align: center; 
 color:#000080;
 font-family: "Times New Roman", Georgia, Serif;
 font-size: 50px;
 padding: 1px;
}
#textoProjeto{
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 20px;
  padding: 1px;
}