
h1 {
  text-align: center; 
  color:#800080;
}
#videos{
  text-align: center; 
  color:#4B0082;
}
#divBusca img{
  float:right;
}
#rodape{
   float:center;
  }
   article {
    padding-bottom: 30px; 
    width: 900px; 
    margin: 0 0 60px; 
}
  footer {
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    height: 60px; 
    background-color: #e0e0e0;
    font-family: "Times New Roman", Georgia, Serif;
}
#listas{
  position: relative;
  top:120px;
}
i{
  position:absolute;
  z-index:3;
  top:30px;
}
#nav-mobile li.search {
  position: relative;
  left: 0;
  right: 0;
  top: 120px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2;
}
.search-wrapper input{
  position:relative;
  top:20px;
  left: 25px;

}
.container{
     
  width:400px;
  height:400px;
  position: absolute;
  left: 40%;
  right: 50%;
  top:150px;
}
#tabs-swipe-demo{
  border: 2px solid #eeeeee;
  top:50px;
}
#test-swipe-1{
  width:407px;
  height:385px;
  position: relative;
  top:50px;
}
#test-swipe-2{
  width:407px;
  height:400px;
  position: relative;
  top:50px;
}
#video_play_sinal{
  width:380px;
  height:380px;
  top:50px;
}
#video_play{
  width:380px;
  height:380px;
  top:50px;
}

