footer {
    margin: 0;
    position:absolute; 
    min-height: 60px;
    bottom: 0px; 
    width: 80%; 
    height: 60px; 
    left: 20%;
    right: 50%;
    background-color: #e0e0e0;
    font-family: "Times New Roman", Georgia, Serif;
}
#videos{
  text-align: center; 
  color:#4B0082;
}
#imgEsquerda{
  float:right;
  width:125px; 
  height:115px;
  top: 50px;
  margin-top: 5px;
  }
#imgDireita{
  float:left;
  width:110px; 
  height:115px;
  top: 50px;
  margin-top: 40px;
  }
article {
  padding-bottom: 30px; 
  width: 900px; 
  margin: 0 0 60px; 
}
i{
  position:absolute;
  z-index:3;
  top:20px;
  right: 0%;
}
.search-results{
  left: 55%;
}
#search{
  width: 250px;
  right: 150%;
}
.search-wrapper {
  right: 30%;
}
#nav-mobile li.search {
  position: absolute;
  top: 150px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 10px;
}
#menuAreas {
  position: absolute;
  border: 10px;
  margin-top: 5px;
  padding: 5px 0 0 0;
  z-index: 5;
  top: 220px;
  width: 200px;
}

.container{  
  width:420px;
  height:700px;
  position: absolute;
  left: 35%;
  right: 50%;
  top:55px;
}
#texto{

}
#tabs-swipe-demo{
    top:89px;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    border-top: 2px solid #e0e0e0;
    border-left: : 2px solid #e0e0e0;
    border- right: 2px solid #e0e0e0;
    height: 3rem;
    width: 99%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
}
#test-swipe-1{
  width:487px;
  height:450px;
  position: relative;
  top:70px;
}
#test-swipe-2{
  width:487px;
  height:450px;
  position: relative;
  top:70px;
}
#video_play_sinal{
  width:465px;
  height:450px;
  top:20px;
  left: 0;
}
#video_play_conceito{
  width:465px;
  height:450px;
  top:20px;
  left: 0;
}
#nomes{
  text-align: center; 
  color: #0d47a1;
  font-family: "Times New Roman";
  font-size: 20px;
  padding: 1px;
  right: 50%;
}
#h1_{
 position: relative;
 text-align: center;
 font-family: "Times New Roman", Georgia, Serif;
 font-size: 40px;
 padding: 1px;
 right: 0%;
 left: 5%;
 color: #0d47a1;
}
#textoProjeto{
  left: 31%;
  right: 0%;
  width:700px;
  padding: 1px;
  font-size: 20px;
  padding: 1px;
  position: absolute;
  text-align: center;
  margin-top: 600px;
  font-family: "Times New Roman", Georgia, Serif;
}
#textoEquipe{
  left: 31%;
  right: 0%;
  width:700px;
  padding: 1px;
  font-size: 20px;
  padding: 1px;
  position: absolute;
  text-align: center;
  margin-top: 1000px;
  font-family: "Times New Roman", Georgia, Serif;
}
.collapsible{
  position: relative;
  text-align: center;
  box-sizing: inherit;
}
.collapsible-header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  text-align: center;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
#h2{
   left: 31%;
  right: 0%;
  width:700px;
  padding: 1px;
  font-size: 20px;
  padding: 1px;
  position: absolute;
  text-align: center;
  margin-top: 600px;
  font-family: "Times New Roman", Georgia, Serif;
}